<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binar Car Rental</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <div class="container-login d-flex w-100">
        <div class="image-container w-75">
            <img src="/public/image/login.png" alt="mobil baris" class="h-100 w-100 opacity-75">
        </div>
        <div class="form-container d-flex justify-content-center align-items-center w-25">
            <div class="form-card w-75">
                <div class="logo mb-4"></div>
                <h1 class="mb-4 fw-bold fs-3">Welcome, Admin BCR</h1>
                <form id="loginForm">
                    <div class="form d-flex flex-column mb-2 gap-1">
                        <label for="email" class="fw-light">Email</label>
                        <input type="email" name="email" id="email" placeholder="Contoh: johndoe@email.com" required>
                    </div>
                    <div class="form d-flex flex-column mb-4 gap-1">
                        <label for="password" class="fw-light">Password</label>
                        <input type="password" name="password" id="password" placeholder="6+ karakter" required>
                    </div>
                    <button type="submit" class="form-button w-100">Sign In</button>
                </form>
            </div>
        </div>
    </div>
    <script src="/node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        document.getElementById('loginForm').addEventListener('submit', async function (event) {
            event.preventDefault();

            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            const response = await fetch('/users/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email,
                    password
                })
            });

            const data = await response.json();

            if (data.data.token) {
                localStorage.setItem('token', data.token);
                window.location.href = '/dashboard/orders-list';
            } else {
                alert('Login failed, please try again.');
                window.location.href = '/';
            }
        });
    </script>
</body>

</html>